@using LifeTracker.Services
@using LifeTracker.Models

@inject EntityService EntityService
@inject DisplayedTagService DTService

<div class="tags">
    @foreach (var dTag in dTags)
    {
        <div class="@(TagClassName(dTag))" @onclick="() => Toggle(dTag)">
            <div class="title-and-times">
                <span class="tags__tag-content__title">
                    @dTag.Tag.Name
                </span>
                @if (dTag.LastStartTime != null ||
                     dTag.LastEndTime != null)
                {
                    <span class="last-today-times">
                        @ToHoursMins(dTag.LastStartTime) - @ToHoursMins(dTag.LastEndTime)
                    </span>
                }
                else
                {
                    <span class="last-today-times">&nbsp</span>
                }
            </div>
            
            <div class="tags__tag-content__timer">
                @if (dTag.TotalSecondsSpent == 0 && dTag.LastSecondsSpent == 0)
                {
                    <span class="tags__tag-content__timer__total">&nbsp</span>
                    <span class="tags__tag-content__timer__current">&nbsp</span>
                }
                else
                {
                    <span class="tags__tag-content__timer__total">
                        @ToHoursMins(dTag.TotalSecondsSpent)
                    </span>
                    <span class="tags__tag-content__timer__current">
                        @ToHoursMins(dTag.LastSecondsSpent)
                    </span>
                }
            </div>
        </div>
    }
</div>


@code {
    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    private List<DisplayedTag> dTags => DTService.DTags;

    protected override async Task OnInitializedAsync()
    {
        await EntityService.InitializeAsync();
        var tags = await EntityService.GetTagsAsync();
        var activities = await EntityService.GetActivitiesAsync();
        DTService.Initialize(tags, activities);
        DTService.SetOnChangeHandler(OnChangeHandler);

        await UpdateView();
    }

    private async void OnChangeHandler()
    {
        await InvokeAsync(StateHasChanged);
    }

    private async void Toggle(DisplayedTag dTag)
    {
        if (dTag.Status == DisplayedTagStatus.Inactive)
        {
            await EntityService.CreateActivityAsync(dTag.Tag.Id, DateTime.Now);
        }
        else
        {
            await EntityService.FinishRunningActivityAsync(dTag.Tag.Id, DateTime.Now);
        }

        DTService.Update(dTag);
        await UpdateView();
    }

    private async Task UpdateView()
    {
        await InvokeAsync(StateHasChanged);
        await OnClickCallback.InvokeAsync();
    }

    private string ToHoursMins(DateTime? datetime)
    {
        return datetime.HasValue ? datetime.Value.ToString("HH:mm") : "...";
    }

    private string ToHoursMins(int secondsSpent)
    {
        int hours = secondsSpent / 3600;
        int minutes = (secondsSpent % 3600) / 60;
        
        return $"{hours:D2}:{minutes:D2}";
    }

    private string TagClassName(DisplayedTag displayedTag) => displayedTag.Status switch
    {
        DisplayedTagStatus.Inactive => "tags__tag-content",
        DisplayedTagStatus.DependentlyActive => "tags__tag-content tags__tag-content__dependently-active",
        DisplayedTagStatus.DependentlyDisabled => "tags__tag-content tags__tag-content__dependently-disabled",
        _ => "tags__tag-content tags__tag-content__directly-active"
    };
}
